.hero-container {
display: flex;
flex-direction: column;
padding: 20px;
}


.hero {
    width: 60vw ;
    align-self: center;
}

.hero-title {
    margin-bottom: 16px;
    margin-left: 45px;
    padding-bottom: 20px;
    margin-top: 80px;

    width: 380px;
    height: 40px;
   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
  }

  .h-desc {
    margin-top: 0px;
    margin-left: 45px;
    width: 350px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 110%;
  }

  @media screen and (max-width: 480px) {
    .hero {
        width: 80vw;
    }

    .hero-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 355px;
        margin-left: -3px;
    }

    .h-desc {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 25px;
    }
  }