.card-container {
font-size: 12px;
width: 175px;
width: 175px;
font-size: 12px;
flex: 0 0 auto;         /* ADD */
display: flex;          /* ADD */
flex-direction: column; 

}

.gray {
    color: #918e9b;
}

.bold {
    font-weight: bold;
}

.c-img {
width: 176px;
height: 235px;

object-fit: cover;
border-radius: 10px;
}

.rating {
    height: 14px;
}

.c-template {
display: flex;
align-items: center;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-price {
    margin-top: auto;
}

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.section {
    padding: 20px;
}